---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="Directory V2">
	<main class="flex-1 xl:overflow-y-auto bg-slate-50">
		
		<div class="bg-white border-b border-gray-200 sticky top-0 z-10">
			<div class="lg:w-2/3 xl:w-full xl:px-8 lg:mx-auto p-4">
				<div class="flex items-center justify-between">
					<div class="min-w-0 flex-1">
						<h1 class="text-2xl font-semibold leading-7 text-gray-900 sm:truncate">DS4 Admin</h1>
					</div>
					<div class="flex items-center space-x-2">
						<Button variant="secondary">
							Add a record
						</Button>
						<a class="px-3">Records</a>
						<a class="px-3">Updates (0)</a>
						<a class="px-3">Drafts (49)</a>
						<a class="px-3">Trash (73)</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="flex flex-col space-y-6 p-4 m-0 mb-16 w-full sm:p-8 lg:mx-auto lg:w-2/3">

			<div class="divide-y divide-gray-200 overflow-hidden border border-gray-200 rounded-lg bg-white shadow-sm">
				<div class="bg-gray-50 px-5 py-4 flex flex-wrap items-center justify-between sm:flex-nowrap">
					<h2 class="text-md font-semibold leading-6 text-gray-900">Status:Live</h2>
					<div class="flex">
						<span class="secondary"> Source:Migrated Record </span>
						<span class="primary"> Last admin update:31/01/2024 by: merry.collins@redbridge.gov.uk </span>
						<span class="secondary"> Created on: 18/03/2016 External Id: 8S_qBNxvmBI </span>
			
						<div class="formControls"><input type="submit" name="recordform:j_id163" value="Update Record"><input type="submit" name="recordform:j_id168" value="Move to Archive"><input type="submit" name="recordform:j_id169" value="Delete"><input type="submit" name="recordform:j_id172" value="Clone to Drafts"></div>
						
						<ul class="modeTabs">
							<li class="selected"><a href="#" id="recordform:j_id177" name="recordform:j_id177" onclick="A4J.AJAX.Submit('recordform',event,{'similarityGroupingId':'recordform:j_id177','oncomplete':function(request,event,data){attachEventHandlers()},'parameters':{'recordform:j_id177':'recordform:j_id177'} } );return false;">Show record</a></li>
							<li class=""><a href="#" id="recordform:j_id186" name="recordform:j_id186" onclick="A4J.AJAX.Submit('recordform',event,{'similarityGroupingId':'recordform:j_id186','parameters':{'recordform:j_id186':'recordform:j_id186'} } );return false;">Show history</a></li>
						</ul>
						
						<ul class="flex gap-3">
							<li><Button>&laquo;</Button></li>
							<li><Button>&lt;</Button></li>
							<li><span>3 of 5</span></li>
							<li><Button>&gt;</Button></li>
							<li><Button>&raquo;</Button></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</main>
</Layout>
