---
interface Props {
    variant?: 'primary' | 'outline';
    className?: string;
    children: any;
}

const { variant = 'outline', className = '', children } = Astro.props;

const variantClasses = {
  primary: 'bg-blue-600 hover:bg-blue-800 text-white',
  outline: 'bg-white hover:bg-gray-100 border border-gray-300 hover:border-gray-400 text-gray-900',
};
---

<button class={`${variantClasses[variant]} ${className} inline-flex w-auto items-center gap-x-1 rounded-md  px-3 py-2  text-sm whitespace-nowrap font-medium  shadow-sm focus:ring-1 ring-inset ring-gray-300 hover:ring-gray-400 ease-in duration-200 disabled:opacity-50 disabled:cursor-not-allowed`}>
    <slot />
</button>