---
interface Props {
    className?: string;
    children: any;
}

const { className = '', children } = Astro.props;
---

<button x-bind:disabled="!allSelected" class={`${variantClasses[variant]} ${className} inline-flex items-center gap-x-1 rounded-md px-3 py-2 text-sm whitespace-nowrap font-medium shadow-sm focus:ring-1 ring-inset ring-gray-300 hover:ring-gray-400 ease-in duration-200 disabled:opacity-50 disabled:cursor-not-allowed`}>
    <slot />
</button>