---
import Button from '../components/Button.astro';
---

<div class="flex justify-between items-center">
    <div class="flex gap-1 p-2">
        <Button className="mr-5">
            Select all
        </Button>
        <Button>
            Clone to drafts
        </Button>
        <Button>
            Move to Archive
        </Button>
        <Button className="mr-5">
            Delete
        </Button>
        <Button>
            Run a report
        </Button>
        <Button>
            Export to CSV
        </Button>
    </div>
    <ol class="flex gap-4 p-2">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
    </ol>
</div>