---
import Button from '../components/Button.astro';
import ButtonDisabled from '../components/ButtonDisabled.astro';
---

<div class="flex justify-between items-center">
    <div class="flex gap-1 p-2" x-data="{ isEnabled: false }">
        <button @click="allSelected = !allSelected" class="bg-blue-600 hover:bg-blue-800 text-white  inline-flex items-center gap-x-1 rounded-md px-3 py-2 text-sm whitespace-nowrap font-medium shadow-sm focus:ring-1 ring-inset ring-gray-300 hover:ring-gray-400 ease-in duration-200 disabled:opacity-50 disabled:cursor-not-allowed mr-5">
            Select all
        </button>

        <ButtonDisabled>
            Clone to drafts
        </ButtonDisabled>
        <ButtonDisabled>
            Move to Archive
        </ButtonDisabled>
        <ButtonDisabled className="mr-5">
            Delete
        </ButtonDisabled>
        <Button>
            Run a report
        </Button>
        <Button>
            Export to CSV
        </Button>
    </div>
    <ol class="flex gap-4 p-2">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
    </ol>
</div>