---
import Button from '../components/Button.astro';
import searchIcon from '../assets/search-icon.svg?raw'; //import as a string
---

<div id="searchFilterForm" class="flex justify-between" >
    <div id="searchWizard" class="flex flex-col gap-3 mr-4">
        <div class="flex items-center gap-3">
            <select name="searchFilterForm:j_id39" class="enabled:hover:border-gray-400 disabled:opacity-75" size="1">
                <option value="org.jboss.seam.ui.NoSelectionConverter.noSelectionValue" selected="selected">Search all...</option>
                <option value="field:resource_type">Page type</option>
                <option value="field:title">Page title</option>
                <option value="field:familychannel">Search categories (Family)</option>
                <option value="field:searchable">Is this page searchable?</option>
                <option value="field:lo_age_bands">Local Offer age band</option>
                <option value="field:publication_date">Publication date</option>
                <option value="field:escbchannel">Search categories (ESCB)</option>
                <option value="field:localofferchannel">Search categories (Local Offer)</option>
                <option value="field:youthchannel">Search categories (Youth)</option>
                <option value="field:sharingportal_inbound">Syndicated from Portal</option>
                <option value="field:sharingportal_inbound_owner">Syndicated by</option>
                <option value="field:localofferchannelnew">Search categories (Local Offer new)</option>
                <option value="entrySource">Entry Source</option>
            </select>
            <div id="searchFilterForm:clausebuilder0">
                <label for="searchFilterForm:recordFilter_0" class="sr-only">Enter words to search for.</label>
                <input id="searchFilterForm:recordFilter_0" type="text" name="searchFilterForm:recordFilter_0" class="enabled:hover:border-gray-400 disabled:opacity-75" placeholder="Enter words to search for:">
            </div>    
            <p class="flex align-middle gap-3 recordFilterButtons">
                <Button variant="secondary">
                    <span set:html={searchIcon} />
                    Search
                </Button>                
                <Button>Reset</Button>
            </p>
            <strong>Showing 329 records</strong>
        </div>

        <a href="#" class="hover:underline">+ new clause</a>
    </div>    
    
    <ul class="flex flex-col gap-2">
        <li><a href="#" id="searchFilterForm:j_id65" class="hover:underline">Switch to syntax</a></li>
        <li x-data="{ modalOpen: false }">
            <button @click="modalOpen = ! modalOpen" @click.outside="modalOpen = false" class="bg-white hover:bg-gray-100 border border-gray-300 hover:border-gray-400 text-gray-900  inline-flex items-center gap-x-1 rounded-md px-3 py-2 text-sm whitespace-nowrap font-medium shadow-sm focus:ring-1 ring-inset ring-gray-300 hover:ring-gray-400 ease-in duration-200 disabled:opacity-50 disabled:cursor-not-allowed">Jump to record</button>
            <template x-teleport="body">
                <div x-show="modalOpen" class="fixed inset-0 flex items-center justify-center z-50 ">
                    <!-- Overlay -->
                    <div class="fixed inset-0 bg-black opacity-50"></div>
                    <!-- Modal Dialog -->
                    <div class="bg-white rounded-lg p-6 max-w-md w-full z-10">
                        <div class="flex items-center justify-between mb-4">
                            <h2 class="text-lg font-semibold">Jump To Record</h2>
                            <button class="bg-none text-gray-500 hover:text-gray-700 p-1 rounded-md outline-none border-none flex items-center transition-all duration-100 ease-linear justify-center focus-visible:outline-2 focus-visible:outline-accent" tabindex="0" onclick="hideSlideover()">
                                <svg class="h-6 w-6 text-gray-700" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                                </svg>
                                <span class="sr-only">Close panel</span>
                            </button>
                        </div>
                        <label for="x" class="text-gray-700 mb-4">Enter record external id:</label>
                        <input type="text" name="x" />
                    </div>
                </div>
            </template>
        </li>
    </ul>        
        
</div>
    