<div class="overflow-x-auto">
    
    <!-- <span x-text="allSelected"></span> -->

    <div class="inline-block min-w-full align-middle">
        <table class="min-w-full divide-y divide-gray-300 text-sm text-left text-gray-900">
            <thead class="bg-gray-50 border-t border-t-gray-300">
                <tr class="rich-table-subheader ">
                    <th class="rich-table-subheadercell p-3" scope="col" id="browseForm:browseTable:j_id167header"></th>
                    <th class="rich-table-subheadercell" scope="col" id="browseForm:browseTable:j_id171header">Page type ▲</th>
                    <th class="rich-table-subheadercell" scope="col" id="browseForm:browseTable:j_id190header">Page title</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
                <tr>
                    <td>
                        <input type="checkbox" x-model="allSelected">
                    </td>
                    <td>
                        Service
                    </td>
                    <td>
                        <a href="/record">Click to view record</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" x-model="allSelected">
                    </td>
                    <td>
                        Organisation
                    </td>
                    <td>
                        <a href="/record">Click to view record</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" x-model="allSelected">
                    </td>
                    <td>
                        Carescheme
                    </td>
                    <td>
                        <a href="/record">Click to view record</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
