<table class="min-w-full divide-y divide-gray-300 text-sm text-left text-gray-900">
    <thead class="bg-gray-50 border-t border-t-gray-300">
        <tr>
            <th scope="col" class="p-3 font-medium">
                <span>Case type</span>
            </th>
            <th scope="col" class="p-3 font-medium">
                <span>Public</span>
            </th>
            <th scope="col" class="p-3 font-medium">
                <span>Consultees</span>
            </th>
        </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 bg-white">
        <tr>
            <td class="p-3">
                Planning application
            </td>
            <td class="p-3">
                <label class="flex items-center hover:cursor-pointer group" for="publicApplications">
                    <div class="relative h-6 w-6">
                        <input type="checkbox" id="publicApplications" class="appearance-none peer h-6 w-6 rounded border border-gray-300 bg-white checked:bg-blue-600 [&amp;:not(:checked):not(:disabled)]:group-hover:border-gray-500 group-hover:cursor-pointer disabled:bg-gray-300 focus:outline-blue-600 invalid:border-red-600 invalid:ring-1 invalid:ring-inset invalid:ring-red-600 invalid:focus:ring-red-800 invalid:focus:outline-none">
                        <svg class="absolute w-4 h-4 top-1 left-1 hidden peer-checked:block group-hover:cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                    </div>
                    <span class="sr-only">Select planning applications for public</span>
                </label>    
            </td>
            <td class="p-3">
                <label class="flex items-center hover:cursor-pointer group" for="consulteeApplications">
                    <div class="relative h-6 w-6">
                        <input type="checkbox" id="consulteeApplications" class="appearance-none peer h-6 w-6 rounded border border-gray-300 bg-white checked:bg-blue-600 [&amp;:not(:checked):not(:disabled)]:group-hover:border-gray-500 group-hover:cursor-pointer disabled:bg-gray-300 focus:outline-blue-600 invalid:border-red-600 invalid:ring-1 invalid:ring-inset invalid:ring-red-600 invalid:focus:ring-red-800 invalid:focus:outline-none">
                        <svg class="absolute w-4 h-4 top-1 left-1 hidden peer-checked:block group-hover:cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                    </div>
                    <span class="sr-only">Select planning applications for consultees</span>
                </label> 
            </td>
        </tr>
        <tr>
            <td class="p-3">
                Planning appeal
            </td>
            <td class="p-3">
                <label class="flex items-center hover:cursor-pointer group" for="publicAppeals">
                    <div class="relative h-6 w-6">
                        <input type="checkbox" id="publicAppeals" class="appearance-none peer h-6 w-6 rounded border border-gray-300 bg-white checked:bg-blue-600 [&amp;:not(:checked):not(:disabled)]:group-hover:border-gray-500 group-hover:cursor-pointer disabled:bg-gray-300 focus:outline-blue-600 invalid:border-red-600 invalid:ring-1 invalid:ring-inset invalid:ring-red-600 invalid:focus:ring-red-800 invalid:focus:outline-none">
                        <svg class="absolute w-4 h-4 top-1 left-1 hidden peer-checked:block group-hover:cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                    </div>
                    <span class="sr-only">Select planning appeals for public</span>
                </label>    
            </td>
        </tr>
        <tr>
            <td class="p-3">
                Planning enforcement
            </td>
            <td class="p-3">
                <label class="flex items-center hover:cursor-pointer group" for="publicEnforcements">
                    <div class="relative h-6 w-6">
                        <input type="checkbox" id="publicEnforcements" class="appearance-none peer h-6 w-6 rounded border border-gray-300 bg-white checked:bg-blue-600 [&amp;:not(:checked):not(:disabled)]:group-hover:border-gray-500 group-hover:cursor-pointer disabled:bg-gray-300 focus:outline-blue-600 invalid:border-red-600 invalid:ring-1 invalid:ring-inset invalid:ring-red-600 invalid:focus:ring-red-800 invalid:focus:outline-none">
                        <svg class="absolute w-4 h-4 top-1 left-1 hidden peer-checked:block group-hover:cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                    </div>
                    <span class="sr-only">Select planning enforcements for public</span>
                </label>    
            </td>
            <td class="p-3">
                <!--<label class="flex items-center hover:cursor-pointer" for="consulteeApplications">
                    <input type="checkbox" id="consulteeApplications"
                        class="appearance-none relative peer h-6 w-6 rounded border border-gray-300 bg-white checked:bg-blue-600 disabled:bg-gray-300 focus:outline-blue-600 invalid:border-red-600 invalid:ring-1 invalid:ring-inset invalid:ring-red-600 invalid:focus:ring-red-800 invalid:focus:outline-none" />
                    <span class="sr-only">Select applications for consultees</span>
                </label> -->
            </td>
        </tr>
        <tr>
            <td class="p-3">
                Trees
            </td>
            <td class="p-3">
                <label class="flex items-center hover:cursor-pointer group" for="publicTrees">
                    <div class="relative h-6 w-6">
                        <input type="checkbox" id="publicTrees" class="appearance-none peer h-6 w-6 rounded border border-gray-300 bg-white checked:bg-blue-600 [&amp;:not(:checked):not(:disabled)]:group-hover:border-gray-500 group-hover:cursor-pointer disabled:bg-gray-300 focus:outline-blue-600 invalid:border-red-600 invalid:ring-1 invalid:ring-inset invalid:ring-red-600 invalid:focus:ring-red-800 invalid:focus:outline-none">
                        <svg class="absolute w-4 h-4 top-1 left-1 hidden peer-checked:block group-hover:cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                    </div>
                    <span class="sr-only">Select trees for public</span>
                </label>    
            </td>
            <td class="p-3">
                <!--<label class="flex items-center hover:cursor-pointer" for="consulteeApplications">
                    <input type="checkbox" id="consulteeApplications"
                        class="appearance-none relative peer h-6 w-6 rounded border border-gray-300 bg-white checked:bg-blue-600 disabled:bg-gray-300 focus:outline-blue-600 invalid:border-red-600 invalid:ring-1 invalid:ring-inset invalid:ring-red-600 invalid:focus:ring-red-800 invalid:focus:outline-none" />
                    <span class="sr-only">Select applications for consultees</span>
                </label> -->
            </td>
        </tr>
        <tr>
            <td class="p-3">
                Building control application
            </td>
            <td class="p-3">
                <label class="flex items-center hover:cursor-pointer group" for="publicBCApplications">
                    <div class="relative h-6 w-6">
                        <input type="checkbox" id="publicBCApplications" class="appearance-none peer h-6 w-6 rounded border border-gray-300 bg-white checked:bg-blue-600 [&amp;:not(:checked):not(:disabled)]:group-hover:border-gray-500 group-hover:cursor-pointer disabled:bg-gray-300 focus:outline-blue-600 invalid:border-red-600 invalid:ring-1 invalid:ring-inset invalid:ring-red-600 invalid:focus:ring-red-800 invalid:focus:outline-none">
                        <svg class="absolute w-4 h-4 top-1 left-1 hidden peer-checked:block group-hover:cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                    </div>
                    <span class="sr-only">Select building control applications for public</span>
                </label>    
            </td>
            <td class="p-3">
                <label class="flex items-center hover:cursor-pointer group" for="consulteeBCApplications">
                    <div class="relative h-6 w-6">
                        <input type="checkbox" id="consulteeBCApplications" class="appearance-none peer h-6 w-6 rounded border border-gray-300 bg-white checked:bg-blue-600 [&amp;:not(:checked):not(:disabled)]:group-hover:border-gray-500 group-hover:cursor-pointer disabled:bg-gray-300 focus:outline-blue-600 invalid:border-red-600 invalid:ring-1 invalid:ring-inset invalid:ring-red-600 invalid:focus:ring-red-800 invalid:focus:outline-none">
                        <svg class="absolute w-4 h-4 top-1 left-1 hidden peer-checked:block group-hover:cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                    </div>
                    <span class="sr-only">Select building control applications for consultees</span>
                </label> 
            </td>
        </tr>
        <tr>
            <td class="p-3">
                Building control contravention
            </td>
            <td class="p-3">
                <label class="flex items-center hover:cursor-pointer group" for="publicBCContravention">
                    <div class="relative h-6 w-6">
                        <input type="checkbox" id="publicBCContravention" class="appearance-none peer h-6 w-6 rounded border border-gray-300 bg-white checked:bg-blue-600 [&amp;:not(:checked):not(:disabled)]:group-hover:border-gray-500 group-hover:cursor-pointer disabled:bg-gray-300 focus:outline-blue-600 invalid:border-red-600 invalid:ring-1 invalid:ring-inset invalid:ring-red-600 invalid:focus:ring-red-800 invalid:focus:outline-none">
                        <svg class="absolute w-4 h-4 top-1 left-1 hidden peer-checked:block group-hover:cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                    </div>
                    <span class="sr-only">Select building control contraventions for public</span>
                </label>    
            </td>
            <td class="p-3">
                <label class="flex items-center hover:cursor-pointer group" for="consulteeBCContravention">
                    <div class="relative h-6 w-6">
                        <input type="checkbox" id="consulteeBCContravention" class="appearance-none peer h-6 w-6 rounded border border-gray-300 bg-white checked:bg-blue-600 [&amp;:not(:checked):not(:disabled)]:group-hover:border-gray-500 group-hover:cursor-pointer disabled:bg-gray-300 focus:outline-blue-600 invalid:border-red-600 invalid:ring-1 invalid:ring-inset invalid:ring-red-600 invalid:focus:ring-red-800 invalid:focus:outline-none">
                        <svg class="absolute w-4 h-4 top-1 left-1 hidden peer-checked:block group-hover:cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                    </div>
                    <span class="sr-only">Select building control contraventions for consultees</span>
                </label> 
            </td>
        </tr>
        <tr>
            <td class="p-3">
                Scottish building warrant
            </td>
            <td class="p-3">
                <label class="flex items-center hover:cursor-pointer group" for="publicBSWarrant">
                    <div class="relative h-6 w-6">
                        <input type="checkbox" id="publicBSWarrant" class="appearance-none peer h-6 w-6 rounded border border-gray-300 bg-white checked:bg-blue-600 [&amp;:not(:checked):not(:disabled)]:group-hover:border-gray-500 group-hover:cursor-pointer disabled:bg-gray-300 focus:outline-blue-600 invalid:border-red-600 invalid:ring-1 invalid:ring-inset invalid:ring-red-600 invalid:focus:ring-red-800 invalid:focus:outline-none">
                        <svg class="absolute w-4 h-4 top-1 left-1 hidden peer-checked:block group-hover:cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                    </div>
                    <span class="sr-only">Select Scottish building warran for public</span>
                </label>    
            </td>
            <td class="p-3">
                <!--<label class="flex items-center hover:cursor-pointer" for="consulteeApplications">
                    <input type="checkbox" id="consulteeApplications"
                        class="appearance-none relative peer h-6 w-6 rounded border border-gray-300 bg-white checked:bg-blue-600 disabled:bg-gray-300 focus:outline-blue-600 invalid:border-red-600 invalid:ring-1 invalid:ring-inset invalid:ring-red-600 invalid:focus:ring-red-800 invalid:focus:outline-none" />
                    <span class="sr-only">Select applications for consultees</span>
                </label> -->
            </td>
        </tr>
        <tr>
            <td class="p-3">
                Scottish building notice
            </td>
            <td class="p-3">
                <label class="flex items-center hover:cursor-pointer group" for="publicBSNotice">
                    <div class="relative h-6 w-6">
                        <input type="checkbox" id="publicBSNotice" class="appearance-none peer h-6 w-6 rounded border border-gray-300 bg-white checked:bg-blue-600 [&amp;:not(:checked):not(:disabled)]:group-hover:border-gray-500 group-hover:cursor-pointer disabled:bg-gray-300 focus:outline-blue-600 invalid:border-red-600 invalid:ring-1 invalid:ring-inset invalid:ring-red-600 invalid:focus:ring-red-800 invalid:focus:outline-none">
                        <svg class="absolute w-4 h-4 top-1 left-1 hidden peer-checked:block group-hover:cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                    </div>
                    <span class="sr-only">Select Scottish building notice for public</span>
                </label>    
            </td>
            <td class="p-3">
                <!--<label class="flex items-center hover:cursor-pointer" for="consulteeApplications">
                    <input type="checkbox" id="consulteeApplications"
                        class="appearance-none relative peer h-6 w-6 rounded border border-gray-300 bg-white checked:bg-blue-600 disabled:bg-gray-300 focus:outline-blue-600 invalid:border-red-600 invalid:ring-1 invalid:ring-inset invalid:ring-red-600 invalid:focus:ring-red-800 invalid:focus:outline-none" />
                    <span class="sr-only">Select applications for consultees</span>
                </label> -->
            </td>
        </tr>
        <tr>
            <td class="p-3">
                Property
            </td>
            <td class="p-3">
                <label class="flex items-center hover:cursor-pointer group" for="publicProperty">
                    <div class="relative h-6 w-6">
                        <input type="checkbox" id="publicProperty" class="appearance-none relative peer h-6 w-6 rounded border border-gray-300 bg-white checked:bg-blue-600 [&amp;:not(:checked):not(:disabled)]:group-hover:border-gray-500 group-hover:cursor-pointer disabled:bg-gray-300 focus:outline-blue-600 invalid:border-red-600 invalid:ring-1 invalid:ring-inset invalid:ring-red-600 invalid:focus:ring-red-800 invalid:focus:outline-none">
                        <svg class="absolute w-4 h-4 top-1 left-1 hidden peer-checked:block group-hover:cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                    </div>
                    <span class="sr-only">Select property for public</span>
                </label>    
            </td>
            <td class="p-3">
                <!--<label class="flex items-center hover:cursor-pointer" for="consulteeApplications">
                    <input type="checkbox" id="consulteeApplications"
                        class="appearance-none relative peer h-6 w-6 rounded border border-gray-300 bg-white checked:bg-blue-600 disabled:bg-gray-300 focus:outline-blue-600 invalid:border-red-600 invalid:ring-1 invalid:ring-inset invalid:ring-red-600 invalid:focus:ring-red-800 invalid:focus:outline-none" />
                    <span class="sr-only">Select applications for consultees</span>
                </label> -->
            </td>
        </tr>
        <tr>
            <td class="p-3">
                Licensing
            </td>
            <td class="p-3">
                <label class="flex items-center hover:cursor-pointer group" for="publicLicensing">
                    <div class="relative h-6 w-6">
                        <input type="checkbox" id="publicLicensing" class="appearance-none peer h-6 w-6 rounded border border-gray-300 bg-white checked:bg-blue-600 [&amp;:not(:checked):not(:disabled)]:group-hover:border-gray-500 group-hover:cursor-pointer disabled:bg-gray-300 focus:outline-blue-600 invalid:border-red-600 invalid:ring-1 invalid:ring-inset invalid:ring-red-600 invalid:focus:ring-red-800 invalid:focus:outline-none">
                        <svg class="absolute w-4 h-4 ml-1 hidden peer-checked:block group-hover:cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                    </div>
                    <span class="sr-only">Select licensing for public</span>
                </label>    
            </td>
            <td class="p-3">
                <!--<label class="flex items-center hover:cursor-pointer" for="consulteeApplications">
                    <input type="checkbox" id="consulteeApplications"
                        class="appearance-none relative peer h-6 w-6 rounded border border-gray-300 bg-white checked:bg-blue-600 disabled:bg-gray-300 focus:outline-blue-600 invalid:border-red-600 invalid:ring-1 invalid:ring-inset invalid:ring-red-600 invalid:focus:ring-red-800 invalid:focus:outline-none" />
                    <span class="sr-only">Select applications for consultees</span>
                </label>-->
            </td>
        </tr>
        <tr>
            <td class="p-3">
                Licensing application
            </td>
            <td class="p-3">
                <label class="flex items-center hover:cursor-pointer group" for="publicLicensingApplications">
                    <div class="relative h-6 w-6">
                        <input type="checkbox" id="publicLicensingApplications" class="appearance-none peer h-6 w-6 rounded border border-gray-300 bg-white checked:bg-blue-600 [&amp;:not(:checked):not(:disabled)]:group-hover:border-gray-500 group-hover:cursor-pointer disabled:bg-gray-300 focus:outline-blue-600 invalid:border-red-600 invalid:ring-1 invalid:ring-inset invalid:ring-red-600 invalid:focus:ring-red-800 invalid:focus:outline-none">
                        <svg class="absolute w-4 h-4 top-1 left-1 hidden peer-checked:block group-hover:cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                    </div>
                    <span class="sr-only">Select licensing applications for public</span>
                </label>    
            </td>
            <td class="p-3">
                <label class="flex items-center hover:cursor-pointer group" for="consulteeLicensingApplications">
                    <div class="relative h-6 w-6">
                        <input type="checkbox" id="consulteeLicensingApplications" class="appearance-none peer h-6 w-6 rounded border border-gray-300 bg-white checked:bg-blue-600 [&amp;:not(:checked):not(:disabled)]:group-hover:border-gray-500 group-hover:cursor-pointer disabled:bg-gray-300 focus:outline-blue-600 invalid:border-red-600 invalid:ring-1 invalid:ring-inset invalid:ring-red-600 invalid:focus:ring-red-800 invalid:focus:outline-none">
                        <svg class="absolute w-4 h-4 top-1 left-1 hidden peer-checked:block group-hover:cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                    </div>
                    <span class="sr-only">Select licensing applications for consultees</span>
                </label> 
            </td>
        </tr>
    </tbody>
</table>
