<div class="overflow-x-auto">
    <div class="inline-block min-w-full align-middle">
        <table class="min-w-full divide-y divide-gray-300 text-sm text-left text-gray-900">
            <thead class="bg-gray-50 border-t border-t-gray-300">
                <tr class="rich-table-subheader ">
                    <th class="rich-table-subheadercell p-3" scope="col" id="browseForm:browseTable:j_id167header">
                        <div id="browseForm:browseTable:j_id167header:sortDiv">
                        <input type="checkbox" id="browseForm:checkAll" onclick="checkAll(this)"></div>
                    </th>
                    <th class="rich-table-subheadercell" scope="col" id="browseForm:browseTable:j_id171header"><div id="browseForm:browseTable:j_id171header:sortDiv"><a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('browseForm'),{'browseForm:browseTable:j_id172':'browseForm:browseTable:j_id172'},'');}return false">
                        Page type
                            ▲</a></div></th>
                    <th class="rich-table-subheadercell" scope="col" id="browseForm:browseTable:j_id190header"><div id="browseForm:browseTable:j_id190header:sortDiv"><a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('browseForm'),{'browseForm:browseTable:j_id191':'browseForm:browseTable:j_id191'},'');}return false">
                    Page title</a></div></th>
                    <th class="rich-table-subheadercell" scope="col" id="browseForm:browseTable:j_id208header"><div id="browseForm:browseTable:j_id208header:sortDiv"><a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('browseForm'),{'browseForm:browseTable:j_id209':'browseForm:browseTable:j_id209'},'');}return false">
                        Is this page searchable?</a></div></th>
                    <th class="rich-table-subheadercell" scope="col" id="browseForm:browseTable:j_id227header"><div id="browseForm:browseTable:j_id227header:sortDiv"><a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('browseForm'),{'browseForm:browseTable:j_id228':'browseForm:browseTable:j_id228'},'');}return false">
                        Search categories (Family)</a></div></th>
                    <th class="rich-table-subheadercell" scope="col" id="browseForm:browseTable:j_id246header"><div id="browseForm:browseTable:j_id246header:sortDiv"><a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('browseForm'),{'browseForm:browseTable:j_id247':'browseForm:browseTable:j_id247'},'');}return false">
                        Landing page category (Family)</a></div></th>
                    <th class="rich-table-subheadercell" scope="col" id="browseForm:browseTable:j_id265header"><div id="browseForm:browseTable:j_id265header:sortDiv"><a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('browseForm'),{'browseForm:browseTable:j_id266':'browseForm:browseTable:j_id266'},'');}return false">
                        Search categories (Local Offer)</a></div></th>
                    <th class="rich-table-subheadercell" scope="col" id="browseForm:browseTable:j_id284header"><div id="browseForm:browseTable:j_id284header:sortDiv"><a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('browseForm'),{'browseForm:browseTable:j_id285':'browseForm:browseTable:j_id285'},'');}return false">
                        Landing page category (Local Offer)</a></div></th>
                    <th class="rich-table-subheadercell" scope="col" id="browseForm:browseTable:j_id303header"><div id="browseForm:browseTable:j_id303header:sortDiv"><a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('browseForm'),{'browseForm:browseTable:j_id304':'browseForm:browseTable:j_id304'},'');}return false">
                        Search categories (Youth)</a></div></th>
                    <th class="rich-table-subheadercell" scope="col" id="browseForm:browseTable:j_id322header"><div id="browseForm:browseTable:j_id322header:sortDiv"><a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('browseForm'),{'browseForm:browseTable:j_id323':'browseForm:browseTable:j_id323'},'');}return false">
                        Landing page category (Youth)</a></div></th>
                    <th class="rich-table-subheadercell" scope="col" id="browseForm:browseTable:j_id341header"><div id="browseForm:browseTable:j_id341header:sortDiv"><a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('browseForm'),{'browseForm:browseTable:j_id342':'browseForm:browseTable:j_id342'},'');}return false">
                        Search categories (ESCB)</a></div></th>
                    <th class="rich-table-subheadercell" scope="col" id="browseForm:browseTable:j_id360header"><div id="browseForm:browseTable:j_id360header:sortDiv"><a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('browseForm'),{'browseForm:browseTable:j_id361':'browseForm:browseTable:j_id361'},'');}return false">
                        Landing page category (ESCB)</a></div></th>
                    <th class="rich-table-subheadercell" scope="col" id="browseForm:browseTable:j_id379header"><div id="browseForm:browseTable:j_id379header:sortDiv"><a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('browseForm'),{'browseForm:browseTable:j_id380':'browseForm:browseTable:j_id380'},'');}return false">
                        Youtube ID</a></div></th>
                    <th class="rich-table-subheadercell" scope="col" id="browseForm:browseTable:j_id416header"><div id="browseForm:browseTable:j_id416header:sortDiv"><a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('browseForm'),{'browseForm:browseTable:j_id417':'browseForm:browseTable:j_id417'},'');}return false">
                        Last Updated</a></div></th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
                <tr>
                    <td>
                        <input type="checkbox" id="browseForm:checkAll" onclick="checkAll(this)"></div>
                    </td>
                    <td>
                        Planning application
                    </td>
                    <td>
                        Select planning applications for consultees
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="browseForm:checkAll" onclick="checkAll(this)"></div>
                    </td>
                    <td>
                        Planning appeal
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="browseForm:checkAll" onclick="checkAll(this)"></div>
                    </td>
                    <td>
                        Planning enforcement
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

